*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aleo', serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

nav{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 6%;
    transition: background 1s;
}

nav .logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

nav .logo img{
    width: 40px;
    margin-right: 8px;
}

nav .logo img.b-logo{ /*this is so that the black logo is not seen on the normal nav bar*/
    display: none;
}

nav .logo a{
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.nav-links{
    flex: 1; /*This is so that links appear on a straight line*/
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    margin-left: 8px;
    position: relative;
}

.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}


nav:hover{
    background-color: #ffffff;
}

nav:hover .logo a{
    color: #333;
}

nav:hover ul li a{
    color: #333;
}

nav:hover .logo img.bb-logo{ /*this is so that the blue logo is not seen on the nav bar when hovering*/
    display: none;
}

nav:hover .logo img.b-logo{
    display: flex;
}

.nav-links ul li::after{ /*for hover effect on nav links */
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: #333;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.content{
    /* margin-top: 6%;
    margin-left: 6%;
    color: #99bad0; */
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%); /*To align text at the center left of the page*/
    z-index: 2;
}

/* .content p{
    font-size: 25px;
    font-weight: 300;
    font-variant: small-caps;
} */

h1{
    font-size: 80px;
    margin: 8px 0 13px;
    line-height: 80px;
}

p{
    opacity: 0;
}

.button{
    margin-top: 30px;
    opacity: 0;
}

.button a{
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 10px 35px;
    border-radius: 30px;
    position: relative;
    transition: 0.5s;
}

.slide-left{
    animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

p.slide-left{
    animation-delay: 1s;
}
.button.slide-left{
    animation-delay: 2s;
}

.button a:hover{
    color: #333;
    background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 700px){
    .content{
        width: 75%;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h1{
        font-size: 40px;
        margin: 4px 0 9px;
        line-height: 50px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #99bad0;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    
}



